#sidebar {
  width: 300px;
  height: 100vh;
  background-color: hsl(210, 20%, 95%);
  border-right: 1px solid hsl(210, 20%, 80%);
  color: #111;
}


.option {
  font-size: 18px;
  height: 60px;
  border: 1px solid hsl(210, 5%, 80%);
  margin: 10px;
  padding: 15px;
  text-align: center;
  transition: box-shadow 0.3s;
  border-radius: 5px;
}

.option:hover {
  background-color: hsl(210, 5%, 80%);
  cursor: pointer;
}

#sidebar>hr {
  margin: 20px 10px;
  border: 1px solid hsl(210, 5%, 80%);
}

.tool {
  border: 1px solid hsl(210, 5%, 80%);
  margin: 10px;
  display: flex;
  transition: box-shadow 0.3s;
  border-radius: 5px;
}

.tool:hover {
  background-color: hsl(210, 5%, 80%);
  cursor: pointer;
}

.tool>img {
  height: 32px;
  margin: 10px;
}

.tool>p {
  font-size: 18px;
  margin: 12px 5px;
}